input {
  height: 42px;
}

.agent-form-item .ant-col {
  padding-bottom: 4px !important;
}

.agent-input {
  margin-bottom: 5px;
}

.agent-form-item label,
.upload-label {
  font-family: "firago-medium";
  font-size: 0.875rem;
}

.agent-form-item .ant-form-item-required::before {
  content: none !important;
}

.input-field-msg-wrapper {
  display: flex;
  gap: 5px;
  margin-top: 4px;
}

.input-field-msg-wrapper span {
  font-size: 0.875rem;
}

.upload-input-wrapper {
  border: 1px dashed #2d3648;
  border-radius: 8px;
  height: 120px;
  position: relative;
}

.upload-input-wrapper .upload-btn {
  position: absolute;
  width: 100% !important;
  height: 118px;
  top: 0;
  border: none;
}

.ant-upload-list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 8px;
}

.form-buttons {
  margin-top: 94px;
}

.form-buttons button {
  font-size: 1rem;
  padding: 14px 16px;
  border-radius: 10px;
  color: #fff;
  background-color: #f93b1d;
  border: none;
  cursor: pointer;
  transition: all 0.18s linear;
}

.form-buttons button:hover {
  background-color: #df3014;
}

.form-buttons .cancel-agent {
  background-color: #fff;
  border: 1px solid #f93b1d;
  color: #f93b1d;
}

.form-buttons .cancel-agent:hover {
  background-color: #f93b1d;
  color: #fff;
}

.input-msg-default {
  display: flex;
  gap: 4px;
  align-items: center;
}

.ant-form-item-explain-success {
  color: green;
}

.ant-form-item-extra {
  position: absolute !important;
  bottom: 5px !important;
  color: #000 !important;
}

.upload-input-wrapper {
  position: relative;
}

.upload-input-wrapper .ant-form-item-explain {
  /* display: none; */
  position: absolute;
  bottom: -10px;
}

.form-buttons button {
  font-family: "firago-medium";
}
