.add-listing-form {
  width: 790px;
  margin: 0 auto;
}

.add-listing-form-title {
  font-size: 1rem;
  margin-bottom: 22px;
  font-family: "helvetica";
  font-weight: 600;
}

.select-input {
  height: 43px;
}

.select-options {
  padding: 10px 12.5px !important;
  border-bottom: 1px solid #d9d9d9;
  border-radius: 0 !important;
  position: relative;
}

.select-options.btn {
  padding: 22px 12.5px !important;
}

.ant-select-dropdown {
  padding: 0 !important;
}

.inside-select-btn {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: transparent;
  border: none;
  cursor: pointer;
  align-items: center;
  gap: 8px;
  padding: 10px;
  border-top: 1px solid #d9d9d9;
}
