*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "firago-regular";
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "firago-regular";
}

a {
  text-decoration: none;
}

.container {
  width: 1596px;
  max-width: 100%;
  margin: 0 auto;
}

.ant-select-dropdown {
  z-index: 1000 !important;
}

.ant-radio-inner {
  border-color: #000000 !important;
  background-color: #ffffff !important;
}
.ant-radio-inner::after {
  background-color: #000000 !important;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #45a849 !important;
  border-color: #45a849 !important;
}

.ant-checkbox-inner {
  width: 20px !important;
  height: 20px !important;
}
